body {
  margin: 0;
  padding: 0;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 16px;
  color: #839496;
}

.code {
  font-family: Consolas, 'Courier New', monospace;
}

.form-control, .CodeMirror {
  font-size: 16px;
  background-color: #fdf6e3;
  color: #839496;
  font-family: Consolas, 'Courier New', monospace;
  box-shadow: unset !important;
  -webkit-box-shadow: unset !important;
  -moz-box-shadow: unset !important;
  border-color: #eae4d2;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 2px;
}

.form-control:focus, .CodeMirror-focused {
  border-width: 3px 3px 3px 3px;
  border-color: #eae4d2;
  box-shadow: unset;
  -webkit-box-shadow: unset;
}

h1 {
  color: #f2e6c4;
}

.CodeMirror {
  font-family: Consolas, 'Courier New', monospace;
  font-size: 18px;
}

.row {
  padding-bottom: 20px;
}

pre {
  border: unset;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 16px;
  background-color: #eee8d5;
  border-radius: 2px;  
}

.btn-primary {
  color: #839496;
  background-color: #fdf6e3;
  border-color: #eee8d5;
  text-transform: lowercase;
  border-radius: 2px;  
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
.btn-primary:focus:active, .btn-primary[disabled]:hover,
.btn-primary[disabled]:active, .btn-primary[disabled]:focus {
  background-color: #f7f0df;
  border-color: #eee8d5;
  color: #839496;
  border-width: 3px 3px 3px 3px;  
}

.alert {
  border-width: 3px 3px 3px 3px;
  background-color: #fdf6e3;
  border-color: #eee8d5;
  color: #839496;
  border-radius: 2px;
}

.scrollable-select {
  height: 150px;
  overflow: auto;
  font-size: 16px;
  background-color: #fdf6e3;
  color: #839496;
  font-family: Consolas, 'Courier New', monospace;
  border-color: #eae4d2;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-radius: 2px;
  list-style-type: none;
  padding-left: 0;
}

.scrollable-select .active {
  background-color: antiquewhite;
}

.scrollable-select > * {
  padding: 5px;
  cursor: pointer;
  border-bottom: 1px solid #eeeeee;
}

.scrollable-select > .highlighted:before {
  content: "\e013";
  font-family: 'Glyphicons Halflings';
  margin-right: 5px;
}

.form-control[readonly] {
  background-color: #fdf6e3;
}

.btn {
  border-width: 3px 3px 3px 3px;  
}

.alert-success hr {
  border-top-color: #eee8d5;
}

.glyphicon.fast-right-spinner {
  -webkit-animation: glyphicon-spin-r 1s infinite linear;
  animation: glyphicon-spin-r 1s infinite linear;
  margin-right: 5px;
}

@-webkit-keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

@keyframes glyphicon-spin-r {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }

  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}